<!DOCTYPE html>
<html>
<head>
  <title>Nearby Hospitals</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet"href="{{ url_for('static', filename='css/styles.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hospitals.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/project_logo.jpg') }}" alt="Healthcare Assistant Logo"/>

      <span>Mental Health Care</span>
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('render_home_page') }}">Home</a></li>
        <li><a href="{{ url_for('render_aboutus') }}">About Us</a></li>
        <!-- About Us Page -->
        <li><a href="{{ url_for('render_contact') }}">Contact</a></li>
        <!-- Contact Page -->
        <!-- <li><a href="{{ url_for('hospital') }}">Hospitals</a></li> -->
        <!-- Contact Page -->
        <li>
          <a href="{{ url_for('render_login_page') }}" class="login-btn"
            >Login</a
          >
        </li>
        <!-- signup Page -->
        <li>
          <a href="{{ url_for('render_signup_page') }}" class="login-btn"
            >Signup</a
          >
        </li>
        <!-- Login Page -->
  
        
      </ul>
    </nav>
  </header>
  <h1>Nearby Hospitals</h1>
  <div id="map"></div>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Hours</th>
        <th>Location Link</th>
      </tr>
    </thead>
    <tbody id="hospital-table-body">
      <!-- Filled dynamically -->
    </tbody>
  </table>
  



  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
